INFRA_HTTP_PROTOCOL=http
INFRA_HTTP_BASE_DOMAIN=app.localhost
INFRA_HTTP_OIDC_SUBDOMAIN=auth
INFRA_API_ROUTE=api
INFRA_DOCS_ROUTE=docs
INFRA_NETWORK_NAME=infra

INFRA_PG_USER=postgres
INFRA_PG_PASSWORD=postgres
INFRA_PG_LOGTO_DB=logto

INFRA_LOGTO_ADMIN_USERNAME=admin
INFRA_LOGTO_ADMIN_PASSWORD=changeme
INFRA_LOGTO_ORG_NAME=My Organization
INFRA_LOGTO_API_RESOURCE_ID=https://api.app.localhost

INFRA_REGISTRATOR_RELOAD_DELAY=5s
INFRA_REGISTRATOR_IMAGE=registrator:latest
